@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Azeret Mono", monospace;
}

/* header styles  */

header {
  margin-bottom: 100px;
}

/* nav styles  */

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 200px;
}

header nav h5 {
  color: #0d1321;
  font-family: "Azeret Mono";
  font-size: 37.333px;
  font-weight: 800;
}
header nav button {
  padding: 22.667px 32px;
  color: #0d1321;
  text-align: center;
  font-family: "Azeret Mono";
  font-size: 26px;
  font-weight: 600;
  border-radius: 10.667px;
  border: 1.333px solid #0d1321;
  opacity: 0.8;
  background-color: transparent;
}
header nav button:hover {
  opacity: 1;
  background-color: #0d1321;
  color: #ffffff;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}

/* hero section styles */

#hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("./assets/Hero-bg.png");
  height: 869.333px;
}
#hero-section h1 {
  color: #0d1321;
  text-align: center;
  font-size: 64px;
  font-weight: 800;
  line-height: 90.667px; /* 141.667% */
  margin: 42px 0 32px 0;
  width: 1330.667px;
}
#hero-section p {
  color: #0d1321;
  text-align: center;
  font-size: 21.333px;
  line-height: 34.667px; /* 162.5% */
  width: 1136px;
  margin-bottom: 42px;
}

#hero-section button {
  padding: 22.667px 32px;
  color: #ffffff;
  text-align: center;
  font-family: "Azeret Mono";
  font-size: 26px;
  font-weight: 600;
  border-radius: 10.667px;
  border: none;
  background-color: #0d1321;
}
#hero-section button:hover {
  opacity: 0.8;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}

/* main styles */

main {
  margin: 0 200px;
}

/* why-web-development styles */

#why-web-development {
  padding: 106.667px 129.333px;
  border-radius: 21.333px;
  background: rgba(13, 19, 33, 0.02);
  margin-bottom: 120px;
}

.section-heading {
  color: #0d1321;
  text-align: center;
  font-size: 42.667px;
  font-weight: 800;
  margin-bottom: 32px;
}

.section-paragraph {
  color: #0d1321;
  text-align: center;
  font-size: 21.333px;
  line-height: 34.667px; /* 162.5% */
  opacity: 0.7;
  margin-bottom: 64px;
  /* width: 1136px; */
}

.wwd-details {
  padding: 64px;
  border-radius: 21.333px;
  background: linear-gradient(90deg, #fff 0%, rgba(255, 255, 255, 0) 100%);
}
.wwd-details .max-width {
  display: flex;
  gap: 140px;
  align-items: center;
  max-width: 1136px;
  height: 320px;
}

.wwd-details img {
  width: 346.084px;
  height: 289.349px;
  margin: auto;
}
.wwd-details img[src="assets/coding-2.png"] {
  width: 275px;
  height: 250px;
  margin: 35.12px 22.4px;
}
.wwd-details-info {
  max-width: 636px;
  margin: 13.5px 0;
}
.wwd-details-info h3 {
  color: rgba(13, 19, 33, 0.7);
  font-size: 32px;
  font-weight: 700;
  line-height: 48px; /* 150% */
  margin-bottom: 21.33px;
}
.wwd-details-info p {
  color: #0d1321;
  font-size: 21.333px;
  line-height: 34.667px; /* 162.5% */
  margin-bottom: 42.67px;
}
.wwd-details-info button {
  color: #0d1321;
  text-align: center;
  font-size: 26.667px;
  font-weight: 600;
  border: 1.333px solid #0d1321;
  opacity: 0.7;
  padding: 16px 26.667px;
  background: none;
}

.wwd-details-middle {
  padding: 64px;
  border-radius: 21.333px;
  background: linear-gradient(270deg, #fff 0%, rgba(255, 255, 255, 0) 100%);
}

.wwd-details-middle .max-width-middle {
  display: flex;
  gap: 100px;
  align-items: center;
  max-width: 1136px;
  height: 320px;
}

.wwd-details-middle img {
  width: 297.6px;
  height: 278.471px;
  margin: 0 22.4px 41.5px 0;
}
.wwb-margin {
  margin-bottom: 42.67px;
}

/* Inspiration styles */

#my-inspiration {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 200px;
}

.my-inspiration-iframe {
  padding: 42.67px;
  border-radius: 21.333px;
  border: 1.333px solid rgba(13, 19, 33, 0.2);
}
#my-inspiration iframe {
  border-radius: 21.333px;
}

/* My current target styles */

#my-current-target {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 200px;
}

.my-current-target-cards {
  display: flex;
  gap: 32px;
}

.html-card {
  border-radius: 21.333px;
  background: rgba(255, 76, 30, 0.05);
  padding: 53.333px;
  width: 485.333px;
}
.css-card {
  border-radius: 21.333px;
  background: rgba(0, 76, 232, 0.05);
  padding: 53.333px;
  width: 485.333px;
}
.js-card {
  border-radius: 21.333px;
  background: rgba(255, 223, 0, 0.05);
  padding: 53.333px;
  width: 485.333px;
}

.card-logo {
  width: 74.667px;
  height: 74.667px;
}

.card-h3 {
  color: #0d1321;
  font-size: 32px;
  font-weight: 800;
  line-height: 48px; /* 150% */
  margin: 32px 0 10.67px;
}

.card-paragraph {
  color: #0d1321;
  font-size: 21.333px;
  font-weight: 400;
  line-height: 34.667px; /* 162.5% */
  opacity: 0.7;
  margin-bottom: 32px;
}

.card-anchor {
  color: #0d1321;
  font-size: 21.333px;
  font-weight: 700;
}

/* My next target styles */

.my-next-target-card {
  display: flex;
  gap: 32px;
  border-radius: 21.333px;
  border: 1.333px solid rgba(13, 19, 33, 0.15);
  padding: 53.333px;
  margin-bottom: 60px;
}
.my-next-target-card-img {
  width: 185px;
  display: flex;
  align-items: center;
}
.my-next-target-card-img img {
  width: 100%;
  height: auto;
  border-radius: 21.333px;
}

.my-next-target-card h3 {
  color: #0d1321;
  font-size: 32px;
  font-weight: 800;
  line-height: 48px; /* 150% */
  margin-bottom: 10.67px;
}

.my-next-target-card p {
  color: #0d1321;
  font-size: 21.333px;
  line-height: 34.667px; /* 162.5% */
  opacity: 0.7;
}

.my-next-target-card a {
  color: #0d1321;
  font-size: 21.333px;
  font-weight: 700;
}

/* support section style */

#support {
  border-radius: 21.333px;
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2) 0%,
      rgba(0, 0, 0, 0.2) 100%
    ),
    linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%),
    linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%),
    url("./assets/handshake.jpg");
  background-position: center;
  padding: 85.333px 64px;
  border-radius: 21.333px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}

#support h2 {
  color: #fff;
  font-size: 42.667px;
  font-weight: 700;
  line-height: 48px; /* 112.5% */
  margin-bottom: 21.33px;
}
#support p {
  color: #fff;
  text-align: center;
  font-size: 21.333px;
  line-height: 34.667px; /* 162.5% */
  opacity: 0.7;
  margin-bottom: 32px;
  width: 808px;
}

#support form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 21.33px;
}

#support input {
  padding: 25.333px 26.667px;
  color: rgba(13, 19, 33, 0.4);
  font-size: 21.333px;
  width: 730.667px;
  border-radius: 10.667px;
  border: 1.333px solid rgba(13, 19, 33, 0.15);
}

#support input::placeholder {
  color: rgba(13, 19, 33, 0.4);
}

#support button {
  padding: 22.667px 26.667px;
  color: #0d1321;
  text-align: center;
  font-size: 26.667px;
  font-weight: 600;
  border-radius: 10.667px;
}

/* footer styles */

footer {
  background: rgba(13, 19, 33, 0.03);
  padding: 42.667px 200px;
  display: flex;
  justify-content: space-between;
}
footer h5 {
  color: #0d1321;
  font-size: 26.667px;
  font-weight: 600;
}

.footer-icons {
  display: flex;
  gap: 32px;
}
